{% extends 'master.html' %}

{% block content %}

<div class="row">

<div class="col-md-5">
<img src="{{ product.image }}" class="img-fluid">
</div>

<div class="col-md-7">

<h2>{{ product.name }}</h2>

<h4 class="text-success">₹ {{ product.price }}</h4>

<p>{{ product.description }}</p>
    <hr>

<h5>Product Details</h5>

<ul>
<li>Fast Delivery</li>
<li>Best Quality</li>
<li>7 Day Return Policy</li>
<li>Cash on Delivery Available</li>
</ul>

<a href="{% url 'add_to_cart' product.id %}" class="btn btn-warning">
Add to Cart
</a>

</div>

</div>

{% endblock %}